.openDexWrapper{
    display: flex;
    width: 70%;
    height: 80%;
}
@media (max-width:1050px) {
    .openDexWrapper{
        width: 90%;
    }
}
@media (max-width:500px) {
    .openDexWrapper{
      flex-wrap: wrap;
    }
}