
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');


.biggerCard{
    background-color: #1c1c1c; 
    width: 100%;
    border-radius: 5%;
    height: 100%;
    padding: 10px;
    text-align: center;
}

.pokeName{
    color: #f4f4f4;
    font-family: "Madimi One", sans-serif;
    font-size: 50px;
}

.information{
    background-color: #1c1c1c;
    overflow-y: auto;
    color: #545454;
}

.listPokes{
    background-color: #1c1c1c;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
}

.pokeball{
    position: relative;
    width: 50%;
    height: 50%;
    opacity: 0.5;
    z-index: 0;
    cursor: pointer;
}

.poke{
    max-width: 180px;
    width: 40%;
    position: absolute;
    z-index: 1;
    align-self: center;
    cursor: pointer;
}

.pokeNball{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pokeTypes {
    width: 8%;
    min-width: 30px;
    padding: 5px;
}

.cardStats{
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    border-radius: 2%;
}

.choosePokeStyle{
    filter:brightness(0) invert(1) saturate(100%);
    max-width: 75%;
}
@media (max-width:500px) {
    .pokeName{
        font-size: 30px;
    }
}